@import url("./vars.css");

body {
  background-color: var(--сolor-blue-dark);
  font-family: "Involve";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: var(--сolor-blue-dark);
}

.body--scrolled header {
  position: fixed;
  background-color: #8fe0fe;
}

.body--scrolled .header__inner {
  padding: 15px 0;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1230px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: "Pribambas";
  font-weight: 400;
  font-size: 65px;
}

.button {
  border-radius: var(--border-radius);
  background-color: var(--color-red);
  font-size: 16px;
  font-weight: 500;
}

/* Стили для шапки */

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  transition: var(--transition);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 49px;
  padding: 30px 0;
  letter-spacing: 0;
}

.header-nav {
  display: flex;
  gap: 20px;
  font-size: 16px;
}

.header-nav__link {
  padding: 6px 1px;
}

.contacts {
  display: flex;
  gap: 20px;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  font-size: 12px;
  color: #13335cb3;
  letter-spacing: 0.4px;
}

.contacts__number {
  font-size: 20px;
  color: var(--сolor-blue-dark);
  letter-spacing: 0;
}

.header__btn {
  padding: 19px 27px;
  font-weight: 600;
  color: var(--color-white);
}

/* Стили для подвала */

footer {
  padding: 82px 120px 38px;
  background-color: var(--color-red);
  border-radius: 50px;
}

.footer__inner {
  color: var(--color-white);
}

.footer__top {
  display: flex;
  justify-content: space-around;
}

.footer-catalog__title,
.footer-menu__title,
.footer-contact__title,
.footer-places__title {
  margin-bottom: 40px;
  font-size: 35px;
}

.footer-catalog__list,
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 15px;
}

.footer-contact__number {
  font-family: "Pribambas";
  font-size: 35px;
  font-weight: 400;
}

.footer-contact__places {
  margin-top: 50px;
}

.footer-places__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 400;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 47px;
  padding-top: 20px;
  border-top: 1px solid #d2d0d0;
  font-size: 13px;
  font-weight: 400;
}

.footer__details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__policy {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 600;
}

/* Скроллбар */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background-color: #7dd2fb;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  border: 3px solid var(--сolor-blue-dark);
}
